.DS_Store
/.build
xcuserdata/
DerivedData/
*.xcodeproj
*.xcworkspace
!default.mode1v3
!default.mode2v3
!default.perspectivev3
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
.swiftpm/xcode/
.swiftpm/configuration/
.build/
*.download
.swiftpm_cache/
